<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>A03 Guestbook</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css"/>
<link type ="text/css" href="Dulam_Santhosh.css" rel="stylesheet" /> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="container">
    	<ul class="topnav">
                <li><a>My Site</a></li>
                  <li><a  href="Dulam_Santhosh">Home</a></li>
                  <li><a href="MonthlyExpenses">Expenses</a></li>
                  <li><a href="Contact">Contact</a></li>
                  <li><a class="active" href="index">GuestBook</a></li>
          </ul>
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
